.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
}

.loading-bar {
    width: 80%;
    height: 10px;
    background-color: #333;
    margin: 20px 0;
    position: relative;
}

.loading-bar .bar {
    height: 100%;
    background-color: #5e5e5e;
    animation: loadingAnimation 2s infinite;
}

@keyframes loadingAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.loading-screen h1 {
    color: white;
}

.loading-screen p {
    color: white;
}
