.project-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .transition-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .transition-image {
    width: 80%;
    max-height: 80vh;
    object-fit: contain;
  }
  
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .slide-image {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .buttons-container {
    display: flex;
    gap: 20px;
  }
  
  .skip-button, .continue-button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .skip-button:hover, .continue-button:hover {
    background-color: #45a049;
  }
  
  .skip-button {
    background-color: #f44336;
  }
  
  .skip-button:hover {
    background-color: #d32f2f;
  }
  